@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mont: 'Montserrat';
    --nuni: 'Nunito';
}

.container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

header {}

.alijon {
    margin-top: 95px;
}

.alijon__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.alijon__title {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 64px;
    color: #2777AC;
    text-align: center;
}

.alijon__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(390px, max-content);
    grid-gap: 30px;
}

.alijon__block-title {
    font-family: var(--nuni);
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}

.alijon__text {
    font-family: var(--mont);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 23px;
}


.alijon__p {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 18px;
    color: #9C1023;
    margin-top: 20px;
}

.alijon__span {
    font-family: var(--mont);
    font-weight: 400;
    font-size: 24px;
    color: #2777AC;
    margin-left: 65px;
}

.alijon__icon {
    margin-left: 15px;
}


.bobur {}


.aziz {}


.footer {}