@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mont: 'Montserrat';
    --nuni: 'Nunito';
}

.container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}
.header__akmal-logo{
    transform: rotate(-144deg) skew(-12deg);
    
}
.header__img{
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 130px;
    height: 100px;
}
.header__top{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.akmal__left{
    display: flex;
}
.akmal__top-text{
    margin-top: 20px;
    width: 100px;
    font-family: var(--mont);
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 110, 255, 0.698);
}
.akmal__titls{
    margin-top: 20px;
    font-family: var(--mont);
    font-weight: 700;
    font-size: 20px;
}
.akmal__top-right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.tel__text{
    font-family: var(--mont);
    font-weight: 400;
    font-size: 18px;
    color: black;
}
.akmal__top-right-text{
    font-family: var(--mont);
    font-weight: 400;
    font-size: 18px;
    color: orange;
}
.ak__section-navbar{
    display: flex;
    height: 100px;
    background: #2777AC;
}
.header__nav{
    height: 100%;
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.header__list>li{
    height: 100%;
}
.header__link{
    font-family: var(--mont);
    font-weight: 400;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}
.header__content{
    display: flex;
    justify-content: space-between;
}
.header__left{
    padding-top: 230px;
}
.akmal__img{
    background-image: url(../img/akmal__img.png);
    width: 100%;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__title{
    font-family: var(--mont);
    font-weight: 900;
    font-size: 36px;
    width: 450px;
    color: white;
    margin-bottom: 7px;
}
.header__text{
    font-family: var(--nuni);
    font-weight: 600;
    font-size: 36px;
    color: white;
    width: 650px;
    margin-bottom: 33px;
}
.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--mont);
    font-weight: 700;
    font-size: 24px;
    color: white;
    width: 274px;
    height: 70px;
    background: linear-gradient(95.31deg, #27DCE8 3.47%, #2777AC 76.25%);
    border-radius: 15px;
    margin-bottom: 70px;
    transition: 1s linear;
}
.header__button:hover{
    background: black;
    color: rgba(255, 255, 255, 0.459);
    transform: scale(1.2) rotate(360deg);
    box-shadow: 0px 5px 10px 0px white;
    font-size: 26px;
}
.header__icons{
    display: flex;
    gap: 25px;
}
.header__right{
    padding-left: 40px;
    margin-top: 173px;
    width: 707px;
    height: 534px;
    background: rgba(211, 238, 255, 0.26);
    backdrop-filter: blur(30px);
    border-radius: 15px;

}

.header__input{
    margin-top: 55px;
    width: 626px;
    height: 70px;
    border-radius: 15px;
    border: none;
    padding-left: 17px;
}
.header__input:focus{
   outline: none;
}
.header__input::placeholder{
    font-family: var(--nuni);
    font-weight: 400;
    font-size: 30px;
    color: #2777AC80;
}
.right-btn{
    margin-top: 50px;
    margin-bottom: 0;
}
.akmal__right-text{
    margin-top: 35px;
    width: 540px;
    font-family: var(--nuni);
    font-weight: 400;
    font-size: 22px;
    color: white;
}


.alijon {
    margin-top: 95px;
}

.alijon__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.alijon__title {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 64px;
    color: #2777AC;
    text-align: center;
}

.alijon__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(390px, max-content);
    grid-gap: 30px;
}

.alijon__block-title {
    font-family: var(--nuni);
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}

.alijon__text {
    font-family: var(--mont);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 23px;
}


.alijon__p {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 18px;
    color: #9C1023;
    margin-top: 20px;
}

.alijon__span {
    font-family: var(--mont);
    font-weight: 400;
    font-size: 24px;
    color: #2777AC;
    margin-left: 65px;
}

.alijon__icon {
    margin-left: 15px;
}


.bobur {}


.aziz {
    background-image: url(../img/Fon.png);
    height: 1080px;

}

.aziz__section {
    position: relative;
    height: 100%;
    display: flex;
}


.aziz__text {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: white;
    padding-top: 273px;
    width: 707px;
}

.aziz__text2{
    color: white;
    font-family: var(--nuni);
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    padding-top: 39px;
}

.aziz__background {
    position: absolute;
    bottom: 0;
}

.aziz__input{
    width: 626px;
    height: 70px;
    font-family: var(--nuni);
    font-weight: 400;
    line-height: 47px;
    background: rgba(39, 119, 172, 0.3);
    border-radius: 15px;
    font-size: 36px;
    border: 0px;
}

.aziz__block{
    width: 707px;
    height: 534px;
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: auto;
    border-radius: 15px;
    padding: 57px 40px 46px;
    justify-content: space-between;
    text-align: justify;

}

.aziz__button{
    width: 274px;
    height: 70px;
    font-family: var(--mont);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background: #F9B237;
    border-radius: 15px;
    border: 0px;
}

.aziz__title{
    font-family: var(--nuni);
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: black;
    
    
}
.aziz__input::placeholder{
   padding-left: 17px;
    font-family: var(--nuni);
    font-weight: 400;
    font-size: 36px;
    color: white;
}
.aziz__div{
    margin-top: 273px;
}




.footer {}